.form{
    border: 1px solid gray;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin: 200px auto;
    padding: 5px;
    background-color: gray;
}
.btn{
    height: 30px;
    width: 70px;
    border-radius: 10px;
    margin-top: 20px;
}