*{
    margin: 0;
    padding:0;
}

body{
    background-image: url("https://i.pinimg.com/1200x/7b/ac/53/7bac53d528ee50c748c470a469d3c7c7.jpg");
    background-size: cover;    
    background-repeat: no-repeat; 
    /* background-position: center; */

}